.leftBar{
    width: 20rem;
    height: 100vh;
    background-color:black;
    display: flex;
  flex-direction: column;
    align-items: center;
}

.nav{
    position:absolute;
    margin-left: 10rem;
    display:flex;
align-items: center;
}


